@font-face {
    font-family: "Roboto-Bold";
    src: url(../Font/Roboto/Roboto-Bold.ttf);
}

body{
    background-color: #181818;
    color: #FFFFFF;
    font-family: "Roboto-Bold";
    font-size: 22px;

    width: auto;
    height: 100%;
}

.main_container{
    background-color: #383838;
    font-size: calc(8px + 1vw);
    white-space: nowrap;

    width: 100%;
    height: calc(32px + 1vw);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
 
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main_icon_container{
    width: 35%;
    margin: 5px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.main_icon_item_container{
    cursor: pointer;

    display: flex;
    flex-direction: row;

    transition: opacity 150ms;
}

.main_icon_item_container:hover{
    opacity: 75%;
}

.main_icon_item{
    min-height: 26px;
    max-height: 48px;
    margin-left: 5px;
    margin-right: 5px;
    height: 53px;
    line-height: 53px;
}

.main_other_container{
    position: absolute;
    right: 0;

    width: 45%;
    height: 48px;
    margin: 5px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.main_other_item{
    margin: 0;
    margin-left: 15px;

    min-height: 26px;
    max-height: 48px;
    height: 53px;
    line-height: 53px;

    transition: opacity 150ms;
}

.main_other_item:hover{
    opacity: 75%;
}

.text_container{
    color: white;

    position: relative;
    top: 60px;
}

.text_header{
    background-color: #383838;
    font-size: calc(16px + 1vw);
    white-space: nowrap;
    cursor: default;

    margin: 0 auto;
    padding: 10px;
    height: fit-content;
    width: fit-content;

    border: none;
    border-radius: 8px;
}

.profile_photo_container{
    text-align: center;

    min-width: 120px;
    max-width: 10%;
    margin: 15px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.profile_photo{
    max-width: 100%;

    border: none;
    border-radius: 50%;
}

.text_paragraph{
    font-size: calc(12px + 1vw);
    text-align: justify;
    
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 155px;  
    max-width: 50%;
}

.text_contact_me{
    font-size: calc(12px + 1vw);

    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 10px;
    height: fit-content;
    width: fit-content;
}

.logo_container{
    min-width: 155px;
    max-width: 40%;
    height: fit-content;
    margin: 0 auto;
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.logo_item{
    cursor: pointer;

    margin-left: 3px;
    margin-right: 3px;
    min-width: 25px;
    max-width: 4vw;

    border: none;
    border-radius: 50%;

    transition: opacity 150ms;
}

.logo_item:hover{
    opacity: 50%;
}
