@font-face {
    font-family: "Roboto";
    src: url(../Font/Roboto/Roboto-Bold.ttf);
}

::-webkit-scrollbar{
    width: calc(0.3vw + 3px);
    height: calc(0.3vw + 3px);
}

::-webkit-scrollbar-thumb{
    background-color: #777272;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #575454;
}

::-webkit-scrollbar-track{
    background-color: #282828;
}

html{
    width: 100%;
}

body{
    font-family: "Roboto";
    background-color: #181818;
    color: white;

    width: 100%;

    margin: 0;
    padding: 0;
}

.main_container{
    background-color: #282828;
    font-size: calc(1.5vw + 6px);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    height: calc(1.5vw + 16px);
    width: 100%;

    cursor: default;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.main_container_item_icon{
    margin-left: 5px;
}

.main_container_item_other{
    margin-right: 5px;
}

.main_container a{
    color: white;
    text-decoration: none;

    transition: opacity 200ms;
}

.main_container a:hover{
    opacity: 0.5;
}

#bars_checkbox{
    display: none;
}

.main_container_item_label{
    margin-right: 10px;

    border-radius: 50%;
}

#main_container_item_bars{
    padding: 6px;

    cursor: pointer;

    border-radius: 50%;

    transition: 200ms;
}

#main_container_item_bars:hover{
    opacity: 0.5;
}

#bars_container{
    background-color: #282828;
    box-shadow: -3px 0px 5px #181818;
    font-size: calc(1.5vw + 6px);
    
    padding-top: calc(0.5vw + 3px);

    height: 100%;

    position: fixed;
    top: 0;
    right: -275px;
    z-index: 150;

    display: flex;
    flex-direction: column;

    transition: 450ms;
}

.bars_menu_container_item{
    background-color: #282828;
    color: white;
    text-align: end;
    text-decoration: none;

    padding: calc(0.25vw + 4px);
    padding-left: calc(1.5vw + 6px);
    margin-left: calc(0.5vw + 6px);

    cursor: pointer;

    transition: background-color 200ms;

    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.bars_menu_container_item:hover{
    background-color: #212121;
}

#bars_menu_container_icon_item{
    text-align: center;
    width: calc(2vw + 8px);
}

#bars_invinsible_label{
    display: none;
}

.bars_invinsible_label_item{
    position: fixed; 
    top: 0; 
    z-index: 149;

    height: 100%;
    width: 100%;
}

.main_image_container{
    margin-top: calc(1.5vw + 16px);
    height: calc(10vw + 75px);
    min-height: 50px;

    cursor: default;
}

.main_item_text{
    font-size: calc(3vw + 12px);

    position: absolute;
    top: calc(1.5vw + 16px);
    left: 0;

    width: 100%;
    min-height: inherit;
    height: inherit;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
}

.main_item_image{
    opacity: 0.5;

    width: 100%;
    height: 100%;
    
    object-fit:cover;
}

.main_image_container{
    margin-top: calc(1.5vw + 16px);
    height: calc(10vw + 75px);
    min-height: 50px;

    cursor: default;
}

.main_item_text{
    font-size: calc(3vw + 12px);

    position: absolute;
    top: calc(1.5vw + 16px);
    left: 0;

    width: 100%;
    min-height: inherit;
    height: inherit;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
}

.main_item_image{
    opacity: 0.5;

    width: 100%;
    height: 100%;
    
    object-fit:cover;
}

.content_container{
    width: 100%;
    margin-top: 15px;
    
    white-space: nowrap;
}

.content_container input{
    display: none;
}

.content_item{
    font-size: calc(1.5vw + 6px);
    background-color: #282828;
    color: white;

    display: block;

    padding: 10px;
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 15px;

    cursor: default;

    border-radius: 8px;

    transition: opacity 200ms;
}

#content_item_header{
    cursor: pointer;
}

#content_item_header:hover{
    opacity: 0.5;
}

.version_list_container div{
    overflow: auto;
}

#up_angle_to_down_version_beta{
    transform: rotate(0deg);
    transition: transform 600ms;
}

#version_beta_list_container{
    padding-left: calc(1.5vw + 6px);
    margin-left: 0px;

    display: none;
}

#up_angle_to_down_version_1{
    transform: rotate(0deg);
    transition: transform 600ms;
}

#version_1_list_container{
    padding-left: calc(1.5vw + 6px);
    margin-left: 0px;

    display: none;
}

#up_angle_to_down_version_2{
    transform: rotate(0deg);
    transition: transform 600ms;
}

#version_2_list_container{
    padding-left: calc(1.5vw + 6px);
    margin-left: 0px;

    display: none;
}