@font-face {
    font-family: "Roboto";
    src: url(../Font/Roboto/Roboto-Bold.ttf);
}

html{
    width: 100%;
}

body{
    font-family: "Roboto";
    background-color: #181818;
    color: white;

    width: 100%;

    margin: 0;
    padding: 0;
}

.main_container{
    background-color: #383838;
    font-size: calc(1.5vw + 6px);
    white-space: nowrap;

    width: 100%;
    height: calc(1.5vw + 16px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
 
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main_icon_container{
    width: 35%;
    margin: 5px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.main_icon_item_container{
    cursor: pointer;

    display: flex;
    flex-direction: row;

    transition: opacity 150ms;
}

.main_icon_item_container:hover{
    opacity: 75%;
}

.main_icon_item{
    min-height: 26px;
    max-height: 48px;
    margin-left: 5px;
    margin-right: 5px;
    height: 53px;
    line-height: 53px;
}

.main_other_container{
    position: absolute;
    right: 0;

    width: 45%;
    height: 48px;
    margin: 5px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.main_other_item{
    margin: 0;
    margin-left: 15px;

    min-height: 26px;
    max-height: 48px;
    height: 53px;
    line-height: 53px;

    transition: opacity 150ms;
}

.main_other_item:hover{
    opacity: 75%;
}

.main_image_container{
    margin-top: calc(1.5vw + 16px);
    height: calc(10vw + 75px);
    min-height: 50px;

    cursor: default;
}

.main_item_text{
    font-size: calc(3vw + 12px);

    position: absolute;
    top: calc(1.5vw + 16px);
    left: 0;

    width: 100%;
    min-height: inherit;
    height: inherit;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
}

#main_item_class_name{
    font-size: calc(3vw + 8px);
}

.main_item_image{
    opacity: 0.5;

    width: 100%;
    height: 100%;
    
    object-fit:cover;
}

.content_container{
    width: 100%;
    margin-top: 15px;
}

.content_container input{
    display: none;
}

.content_item{
    font-size: calc(1.5vw + 6px);
    background-color: #282828;
    color: white;

    display: block;

    padding: 10px;
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 15px;

    border-radius: 8px;

    cursor: pointer;

    transition: opacity 200ms;
}

.content_item:hover{
    opacity: 0.5;
}

#weekly_list_container{
    padding-left: calc(1.5vw + 6px);
    margin-left: 0px;

    display: none;
}

#monthly_list_container{
    padding-left: calc(1.5vw + 6px);
    margin-left: 0px;

    display: none;
}

.content_container a{
    text-decoration: none;
}