@font-face {
    font-family: "Roboto";
    src: url(../Font/Roboto/Roboto-Bold.ttf);
}

html{
    width: 100%;
}

body{
    font-family: "Roboto";
    background-color: #181818;
    color: white;

    width: 100%;

    margin: 0;
    padding: 0;
}

.main_container{
    background-color: #383838;
    font-size: calc(1.5vw + 6px);
    white-space: nowrap;

    width: 100%;
    height: calc(1.5vw + 16px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
 
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main_icon_container{
    width: 35%;
    margin: 5px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.main_icon_item_container{
    cursor: pointer;

    display: flex;
    flex-direction: row;

    transition: opacity 150ms;
}

.main_icon_item_container:hover{
    opacity: 75%;
}

.main_icon_item{
    min-height: 26px;
    max-height: 48px;
    margin-left: 5px;
    margin-right: 5px;
    height: 53px;
    line-height: 53px;
}

.main_other_container{
    position: absolute;
    right: 0;

    width: 45%;
    height: 48px;
    margin: 5px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.main_other_item{
    margin: 0;
    margin-left: 15px;

    min-height: 26px;
    max-height: 48px;
    height: 53px;
    line-height: 53px;

    transition: opacity 150ms;
}

.main_other_item:hover{
    opacity: 75%;
}

.item_container{
    background-color: white;

    position: relative;
    top: calc(1.5vw + 16px);

    height: calc(100% - 85px);

    border: 3px solid #383838;

    overflow: scroll;
}

.item{
    height: 600px;
}