@font-face {
    font-family: "Roboto";
    src: url(../Font/Roboto/Roboto-Bold.ttf);
}

html{
    width: 100%;
}

body{
    font-family: "Roboto";
    background-color: #181818;
    color: white;

    width: 100%;

    margin: 0;
    padding: 0;
}

.main_container{
    background-color: #282828;
    font-size: calc(1.5vw + 6px);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    height: calc(1.5vw + 16px);
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.main_container_item_icon{
    margin-left: 5px;
}

.main_container_item_other{
    margin-right: 5px;
}

.main_container a{
    color: white;
    text-decoration: none;

    transition: opacity 200ms;
}

.main_container a:hover{
    opacity: 0.5;
}

.item_container{
    background-color: white;

    position: relative;
    top: calc(1.5vw + 16px);

    height: calc(100% - 85px);

    border: 3px solid #383838;

    overflow: scroll;
}

.item{
    height: 600px;
}