.home_content_container{
    margin-top: calc(0.5vw + 7.5px); // 15px

    height: 91%;

    display: flex;
    flex-direction: column;
    align-items: center;

    .home_content_option_container{
        background-color: #282828;
        
        min-width: 200px;
        width: calc(80vw + 20px); // 1400px

        margin-bottom: calc(0.5vw + 7.5px);  // 15px

        border-radius: 8px;

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        .home_content_option_text{
            font-size: calc(1vw + 10px); // 20px
            white-space: nowrap;

            padding: calc(0.5vw + 10px) calc(0.5vw + 7.5px); // 20px 15px
            
        }

        .home_content_option_box{
            select{
                background-color: #1f1f1f;
                color: white;
                font-size: calc(1vw + 10px); // 20px
                white-space: nowrap;
                appearance: none;

                padding: calc(0.5vw + 5px); // 10px

                cursor: pointer;

                border: 1px solid #282828;
                border-radius: 8px;

                transition: opacity 200ms;

                &:focus{
                    border: 1px solid #282828;
                }

                &:hover{
                    opacity: 0.5;
                }
            }
        }
    }

    .home_content_table_container{
        background-color: #1f1f1f;

        min-width: 200px;
        width: calc(80vw + 20px); // 1400px
        min-height: 250px;
        height: 100%; // 550px
        
        margin-bottom: calc(0.5vw + 7.5px); // 15px

        overflow: auto;

        border-top: 4px solid #282828;
        border-bottom: 4px solid #282828;
        
        table{
            font-size: calc(0.5vw + 10px); // 20px
            white-space: nowrap;

            border-collapse: collapse;

            thead{
                tr{
                    th{
                        background-color: #1f1f1f;

                        padding-left: calc(0.5vw + 5px); // 10px
                        padding-right: calc(0.5vw + 5px); // 10px
                        
                        text-align: center;
                        vertical-align:middle;

                        border-bottom: 4px solid #282828;
                        border-left: 4px solid #282828;
                        border-right: 4px solid #282828;
                    }
                }
            }
    
            tbody{
                tr{
                    td{
                        text-align: center;
                        vertical-align:middle;
    
                        padding: calc(0.5vw + 5px); // 10px

                        border-top: 4px solid #282828;
                        border-left: 4px solid #282828;
                        border-right: 4px solid #282828;
                    }
    
                    #td_text_align_left{
                        text-align: left;
                    }
    
                    &:nth-of-type(even){
                        background-color: #1f1f1f;
                    }

                    &:nth-of-type(odd){
                        background-color: #181818;
                    }
                }
            }

            .home_content_table_disable{
                display: none;
            }
        }   
    }
}