.statistics_content_container{
    margin-top: calc(0.5vw + 7.5px); // 15px

    display: flex;
    flex-direction: column;
    align-items: center;
    
    .statistics_content_item_container{
        min-width: 200px;
        width: calc(80vw + 20px); // 1400px

        display: flex;
        flex-direction: column;
        align-items: center;
        
        .statistics_content_item{
            margin-bottom: calc(0.5vw + 15px);  // 15px
        
            display: flex;
            flex-direction: column;
            align-items: center;

            .statistics_content_item_text{
                background-color: #282828;
                font-size: calc(1vw + 7px); // 20px
                text-align: center;
                white-space: nowrap;

                min-width: 200px;
                width: calc(30vw + 20px);

                margin-bottom: calc(0.5vw + 7.5px);  // 15px
                padding: calc(0.5vw + 10px) calc(0.5vw + 7.5px); // 20px 15px

                border-radius: 8px;
            }
        }
    }
}