<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>XI-RPL | <%= title %></title>

<link rel="stylesheet" href="css/style.css">
<link rel="shortcut icon" href="Image/RPL Icon/white_theme_rpl_icon.png" type="image/x-icon">
<script src="https://kit.fontawesome.com/a821c44686.js" crossorigin="anonymous"></script>
