<div class="nav_content_container">
    <div class="nav_content_item" onclick="bars_menu_function()">
        <div class="nav_content_item_bar"><i class="fa-solid fa-bars"></i></div>
        <a href="/home"><div class="nav_content_item_text">XI-RPL</div></a>
    </div>

</div>

<div class="nav_content_bars_menu_container">
    <% for(let i = 0; i < 7; i++) {%>
        <a class="nav_content_bars_menu_item_container" href="">
            <div class="nav_content_bars_menu_item">
                <div class="nav_content_bars_menu_item_icon"><i></i></div>
                <div class="nav_content_bars_menu_item_text"></div>
            </div>
        </a>
    <% } %>
    
</div>

<div class="nav_content_bars_menu_invinsible_container" onclick="bars_menu_function()"></div>

<script>
    const bars_menu_link_array = [
        "home",
        "classcode",
        "leaderboard",
        "statistics",
        "changelog",
        "contributor"
    ];

    const bars_menu_icon_array = [
        "fa-solid fa-house",
        "fa-solid fa-school",
        "fa-solid fa-chart-bar",
        "fa-solid fa-chart-line",
        "fa-brands fa-buffer",
        "fa-solid fa-address-book"
    ];

    const bars_menu_name_array = [
        "Home",
        "Class Code",
        "Leaderboard",
        "Statistics",
        "Changelog",
        "Contributor"
    ];

    for(let i = 0; i < bars_menu_icon_array.length; i++){
        document.getElementsByClassName("nav_content_bars_menu_item_container")[i].href = `/${bars_menu_link_array[i]}`;
        document.getElementsByTagName("i")[i+1].className = bars_menu_icon_array[i];
        document.getElementsByClassName("nav_content_bars_menu_item_text")[i].innerHTML = bars_menu_name_array[i];
    };

    let bars_menu_active = false;
    function bars_menu_function(){
        if (bars_menu_active == false){
            bars_menu_active = true;
            document.getElementsByClassName("nav_content_bars_menu_container")[0].style.left = 0;
            document.getElementsByClassName("nav_content_bars_menu_invinsible_container")[0].style.display = "block";
            
        }

        else if (bars_menu_active == true){
            bars_menu_active = false;
            document.getElementsByClassName("nav_content_bars_menu_container")[0].style.left = "-300px";
            document.getElementsByClassName("nav_content_bars_menu_invinsible_container")[0].style.display = "none";
        };
    };
</script>