<div class="nav_content_container">
    <div class="nav_content_item_container" onclick="menu_bar_function()">
        <div class="nav_content_icon_container">
            <i class="fa-solid fa-bars"></i>
        </div> 
        <text class="nav_content_text_container">Menu</text>
    </div>

    <a href="/home">
        <div class="nav_content_item_container">
            <div class="nav_content_icon_container">
                <i class="fa-solid fa-house"></i>
            </div> 
            <text class="nav_content_text_container">Home</text>
        </div>
    </a>

    <a href="/assignment">
        <div class="nav_content_item_container">
            <div class="nav_content_icon_container">
                <i class="fa-solid fa-clipboard-list"></i>
            </div> 
            <text class="nav_content_text_container">Assignment</text>
        </div>
    </a>

    <a href="/classcode">
        <div class="nav_content_item_container">
            <div class="nav_content_icon_container">
                <i class="fa-solid fa-school"></i>
            </div> 
            <text class="nav_content_text_container">Class Code</text>
        </div>
    </a>

    <a href="/leaderboard">
        <div class="nav_content_item_container">
            <div class="nav_content_icon_container">
                <i class="fa-solid fa-chart-bar"></i>
            </div> 
            <text class="nav_content_text_container">Leaderboard</text>
        </div>
    </a>

    <a href="/statistics">
        <div class="nav_content_item_container">
            <div class="nav_content_icon_container">
                <i class="fa-solid fa-chart-line"></i>
            </div> 
            <text class="nav_content_text_container">Statistics</text>
        </div>
    </a>

    <a href="/changelog">
        <div class="nav_content_item_container">
            <div class="nav_content_icon_container">
                <i class="fa-brands fa-buffer"></i>
            </div> 
            <text class="nav_content_text_container">Changelog</text>
        </div>
    </a>

    <a href="/contributor">
        <div class="nav_content_item_container">
            <div class="nav_content_icon_container">
                <i class="fa-solid fa-address-book"></i>
            </div> 
            <text class="nav_content_text_container">Contributor</text>
        </div>
    </a>

</div>

<div class="nav_content_invisible_div_container" onclick="menu_bar_function()"></div>

<script>
    let menu_bar_active = false
    function menu_bar_function(){
        if (menu_bar_active == false){
            for(let i = 0; i < 8; i++){
                document.getElementsByClassName('nav_content_item_container')[i].style.width = "225px";
                document.getElementsByClassName('nav_content_text_container')[i].style.display = "block";
            }

            document.getElementsByClassName('nav_content_invisible_div_container')[0].style.display = "block"
                
            menu_bar_active = true
        }

        else if (menu_bar_active == true){
            for(let i = 0; i < 8; i++){
                document.getElementsByClassName('nav_content_item_container')[i].style.width = "32px";
                setTimeout(() => {document.getElementsByClassName('nav_content_text_container')[i].style.display = "none";}, 450);
            }

            document.getElementsByClassName('nav_content_invisible_div_container')[0].style.display = "none"

            menu_bar_active = false;
        }   
    
    }
</script>