<script>
    function openNavigation() {
        document.getElementById("navigation--overlay").style.display = "block";
        document.getElementById("navigation--overlay").style.opacity = "1";

        document.getElementById("hamburger-button").classList.add("is-active");
    }

    function closeNavigation() {
        document.getElementById("navigation--overlay").style.display = "none";
        document.getElementById("navigation--overlay").style.opacity = "0";

        document.getElementById("hamburger-button").classList.remove("is-active");
    }

</script>
<div class="navigation">
    <div class="navigation--hamburger">
        <div class="container">
            <a
                class="hamburger hamburger--collapse"
                id="hamburger-button"
                type="button"
                aria-label="Menu"
                aria-controls="navigation"
                onclick="openNavigation()"
            >
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </a>
        </div>
    </div>
    <div class="navigation--overlay" id="navigation--overlay">
        <div class="container">
            <div class="upper-section">
                <a
                    class="
                        hamburger hamburger--collapse
                        is-active
                    "
                    id="hamburger-button"
                    type="button"
                    aria-label="Menu"
                    aria-controls="navigation"
                    onclick="closeNavigation()"
                >
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </a>
            </div>
            <div class="lower-section">
                <div class="navigation--overlay-content">
                    <div class="navigation--overlay-content-list">
                        <%  menu_name = ["Home", "Class Code", "Leaderboard", "Statistics", "Changelog", "Contributor"]  %> 
                        <%  menu_classes = ["home", "classcode", "leaderboard", "statistics", "changelog", "contributor"] %> 
                        <%  menu_icon = ["home", "school", "chart-bar", "chart-line", "layer-group", "address-book"] %> 
                        
                        <% menu_classes.forEach((element, index) => { %>
                            <a class="navigation--overlay-content-list-item <%= element %>" href="<%= element %>">
                                <span class="is-icon">
                                    <i class="fas fa-<%= menu_icon[index] %> fa-lg"></i>
                                </span>
                                <span class="is-icon-text"><%= menu_name[index] %></span>
                            </a>
                        <% }); %>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>