<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %>
    </head>
    
    <body>
        <%- include('./partials/nav.ejs') %>
        
        <div class="changelog_content_container">
            <div class="changelog_content_item_container">
                <div class="changelog_content_item" onclick="list_funtion('version_beta')">
                    <i class="fa-solid fa-angle-up" id="changelog_content_icon_version_beta"></i>
                    Version Beta
                </div>

                <div class="changelog_content_list" id="changelog_content_list_version_beta">
                    <div class="changelog_content_list_item">Beta 0.1 Website Base Foundation</div>
                    <div class="changelog_content_list_item">Beta 0.2 Python Write To Monthly File Program Created</div>
                    <div class="changelog_content_list_item">Beta 0.3 Python Merge Cell On Monthly File & Style It Program Created</div>
                    <div class="changelog_content_list_item">Beta 0.4 Python Capture Image & Directory Files Program Created</div>
                    <div class="changelog_content_list_item">Beta 0.5 Python Directory Files Program Now Contains Weekly & Monthly Column Range, Unmerge File Program Created & Merge Cell Program Bug Fixed</div>
                    <div class="changelog_content_list_item">Beta 0.6 About Us Page Created, Capture Image Program Improved & Directory Files Contains Combined Range</div>
                    <div class="changelog_content_list_item">Beta 0.7 View File By Downloading</div>
                    <div class="changelog_content_list_item">Beta 0.8 Unmerge & Merge Cell Program Bug Fixed</div>
                    <div class="changelog_content_list_item">Beta 0.9 Some File Names Changes</div>

                </div>

                <div class="changelog_content_item" onclick="list_funtion('version_1')">
                    <i class="fa-solid fa-angle-up" id="changelog_content_icon_version_1"></i>
                    Version 1
                </div>

                <div class="changelog_content_list" id="changelog_content_list_version_1">
                    <div class="changelog_content_list_item">V.1.0.0 Website Release</div>
                    <div class="changelog_content_list_item">V.1.0.1 Python Check Validity Program</div>
                    <div class="changelog_content_list_item">V.1.0.2 Python Check Validity Program Visual Improved</div>
                    <div class="changelog_content_list_item">V.1.0.3 Code optimization, Python Month Merge & Unmerge Program Bug Fixed</div>
                    <div class="changelog_content_list_item">V.1.0.4 About Us Page Text Change</div>
                    <div class="changelog_content_list_item">V.1.0.5 About Us Page Text Change Again</div>
                    <div class="changelog_content_list_item">V.1.0.6 Report File Is Now Able To Be Seen Without Downloading</div>
                    <div class="changelog_content_list_item">V.1.0.7 Code In Report File Optimize</div>
                    <div class="changelog_content_list_item">V.1.0.8 Viewing Size In Report File Is Much Smaller</div>
                    <div class="changelog_content_list_item">V.1.0.9 Class Code Page Is Added</div>
                    <div class="changelog_content_list_item">V.1.1.0 Python Merge Program Bug Fixed</div>
                    <div class="changelog_content_list_item">V.1.1.1 Class Code Page Visual Improved</div>
                    <div class="changelog_content_list_item">V.1.1.2 Download Report File Feature Is Added</div>
                    <div class="changelog_content_list_item">V.1.1.3 Excel Logo Has Better Resolution</div>
                    <div class="changelog_content_list_item">V.1.1.4 Python Last Time Modified Program Created</div>
                    <div class="changelog_content_list_item">V.1.1.5 Python Program Optimization</div>
                    <div class="changelog_content_list_item">V.1.1.6 Git Command Automation Created</div>
                    <div class="changelog_content_list_item">V.1.1.7 Git Push Command Automation Added</div>
                    <div class="changelog_content_list_item">V.1.1.8 Git Command Optimize</div>

                </div>

                <div class="changelog_content_item" onclick="list_funtion('version_2')">
                    <i class="fa-solid fa-angle-up" id="changelog_content_icon_version_2"></i>
                    Version 2
                </div>

                <div class="changelog_content_list" id="changelog_content_list_version_2">
                    <div class="changelog_content_list_item">V.2.0.0 GUI Update</div>
                    <div class="changelog_content_list_item">V.2.0.1 Cursor Set To Default At Image Banner</div>
                    <div class="changelog_content_list_item">V.2.0.2 Image Banner Responsiveness Improved</div>
                    <div class="changelog_content_list_item">V.2.0.3 Combined Report Image Bug Fixed</div>
                    <div class="changelog_content_list_item">V.2.0.4 More Image Banner & Super Rare Banner Easter Egg (1 In 140 Chances)</div>
                    <div class="changelog_content_list_item">V.2.0.5 Some Image Banner On Other Page Not Showing Bug Fixed, Angle Up & Down Animation Created</div>
                    <div class="changelog_content_list_item">V.2.0.6 Optimize Code On Navigation Bar</div>
                    <div class="changelog_content_list_item">V.2.0.7 Bars Menu Created</div>
                    <div class="changelog_content_list_item">V.2.0.8 Changelog Page Created</div>
                    <div class="changelog_content_list_item">V.2.0.9 Changelog Page Content Text Justified</div>
                    <div class="changelog_content_list_item">V.2.1.0 Custom Scrollbar Created & Justified Text In Changelog Page Removed</div>
                    <div class="changelog_content_list_item">V.2.1.1 Bigger Font Size For Lower Screen Resolution & Improved The Responsiveness Of The Web</div>
                    <div class="changelog_content_list_item">V.2.1.2 About Us Page Is Now Changed To Contributor Page</div>
                    
                </div>

                <div class="changelog_content_item" onclick="list_funtion('version_3')">
                    <i class="fa-solid fa-angle-up" id="changelog_content_icon_version_3"></i>
                    Version 3
                </div>

                <div class="changelog_content_list" id="changelog_content_list_version_3">
                    <div class="changelog_content_list_item">V.3.0.0 Compress Code Using JS & Optimized Some Code</div>
                    <div class="changelog_content_list_item">V.3.0.1 Fixed Combined Assignment Report Not Showing Bug</div>
                    <div class="changelog_content_list_item">V.3.0.2 Optimized Code For Writing Monthly Excel Files</div>
                    <div class="changelog_content_list_item">V.3.0.3 Optimized Code In Python Main Program</div>      
                    <div class="changelog_content_list_item">V.3.0.4 Optimized Code In Contributor Page</div>  
                    <div class="changelog_content_list_item">V.3.0.5 Optimized Code In Contributor Page Again</div>  
                    <div class="changelog_content_list_item">V.3.0.6 Created Wanted List Python Program</div>  
                    <div class="changelog_content_list_item">V.3.0.7 Created JSON Writer Python Program</div>                    
                    
                </div>

                <div class="changelog_content_item" onclick="list_funtion('version_4')">
                    <i class="fa-solid fa-angle-up" id="changelog_content_icon_version_4"></i>
                    Version 4
                </div>

                <div class="changelog_content_list" id="changelog_content_list_version_4">
                    <div class="changelog_content_list_item">V.4.0.0 Reconstruct The Whole Web Using Node JS, Express JS, EJS, MongoDB & SCSS </div>
                    <div class="changelog_content_list_item">V.4.0.1 Navigation Bar Created </div>
                    <div class="changelog_content_list_item">V.4.0.2 Home Page Created </div>
                    <div class="changelog_content_list_item">V.4.0.3 Addded Responsiveness To Navigation Bar </div>
                    <div class="changelog_content_list_item">V.4.0.4 Addded Responsiveness To Home Page </div>
                    <div class="changelog_content_list_item">V.4.0.5 Ported Excel Folder & Python Program </div>
                    <div class="changelog_content_list_item">V.4.0.6 Class Code Page Is Created </div>
                    <div class="changelog_content_list_item">V.4.0.7 Addded Responsiveness To Class Code Page </div>
                    <div class="changelog_content_list_item">V.4.0.8 Changelog Page Is Created </div>
                    <div class="changelog_content_list_item">V.4.0.9 Addded Responsiveness To Changelog Page </div>
                    <div class="changelog_content_list_item">V.4.1.0 Operator System Is Created </div>
                    <div class="changelog_content_list_item">V.4.1.1 Styled Operator System </div>
                    <div class="changelog_content_list_item">V.4.1.2 Home Page Student Report Option </div>
                    <div class="changelog_content_list_item">V.4.1.3 Nav Bar XI-RPL Activates Menu Bar Bug Fixed </div>
                    <div class="changelog_content_list_item">V.4.1.4 Connected Database To MongoDB Atlas Using Mongoose </div>
                    <div class="changelog_content_list_item">V.4.1.5 Connect MongoDB Atlas With Heroku </div>
                    <div class="changelog_content_list_item">V.4.1.6 Added Overflow To Operator Page</div>
                    <div class="changelog_content_list_item">V.4.1.7 Fixed Assignment Deletion Bug </div>
                    <div class="changelog_content_list_item">V.4.1.8 Created Authentication System </div>
                    <div class="changelog_content_list_item">V.4.1.9 Connected Users Login Data To MongoDB Atlas</div>
                    <div class="changelog_content_list_item">V.4.2.0 Styled Login Page </div>
                    <div class="changelog_content_list_item">V.4.2.1 Added HTTP To Listen Log For Quick Access </div>
                    <div class="changelog_content_list_item">V.4.2.2 Fixed Assignment Collection Not Updating Bug </div>
                    <div class="changelog_content_list_item">V.4.2.3 Leaderboard Page Created </div>
                    <div class="changelog_content_list_item">V.4.2.4 Styled Leaderboard Page </div>
                    <div class="changelog_content_list_item">V.4.2.5 Contributor Page Created </div>
                    <div class="changelog_content_list_item">V.4.2.6 Styled Contributor Page </div>
                    <div class="changelog_content_list_item">V.4.2.7 Fixed Navigation Bar Menu Bug </div>
                    <div class="changelog_content_list_item">V.4.2.8 Created Statistics Page </div>
                    <div class="changelog_content_list_item">V.4.2.9 Styled Statistics Page </div>
                    <div class="changelog_content_list_item">V.4.3.0 Fixed List Of Assignment Data Not Accurate Bug </div>

                </div>
                
            </div>

        </div>

        <script>
            let type_list = ["version_beta", "version_1", "version_2", "version_3", "version_4"]
            let active_type_list = [false, false, false, false, false]

            function list_funtion(type){
                for(let i = 0; i < type_list.length; i++){
                    if (type == type_list[i]){
                        if (active_type_list[i] == false){
                            document.querySelector(`#changelog_content_list_${type}`).style.display = "block"
                            document.querySelector(`#changelog_content_icon_${type}`).style.transform = "rotate(180deg)";
                            active_type_list[i] = true
                        }

                        else if (active_type_list[i] == true){
                            document.querySelector(`#changelog_content_list_${type}`).style.display = "none"
                            document.querySelector(`#changelog_content_icon_${type}`).style.transform = "rotate(0deg)";
                            active_type_list[i] = false
                        }
                    }
                }
            }

        </script>
        
    </body>

</html>