<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head', { title: "Changelog" }); %>

    <!-- local vendor -->
    <link rel="stylesheet" href="/vendor/collapsible/collapsible.min.css">
</head>
<body>
    <div class="container">
        <%- include('./partials/navbar.ejs') %>

        <div class="section">
            <div class="box">
                <h1 class="title">
                    Changelog
                </h1>
            </div>

            <div class="changelog">
                <div class="card">
                    <div class="card-header">
                        <h1 class="card-header-title">
                            Beta
                        </h1>
                        <a href="#collapsible-card-release-beta" data-action="collapse" class="card-header-icon is-hidden-fullscreen" aria-label="more options">
                            <span class="is-icon">
                                <i class="fas fa-angle-down fa-lg" aria-hidden="true"></i>
                            </span>
                        </a>
                    </div>
                    <div id="collapsible-card-release-beta" class="is-collapsible">
                        <div class="card-content">
                            <div class="container">
                                <ul>
                                    <li><span class="tag release-tag">Beta 0.1</span> Website Base Foundation</li>
                                    <li><span class="tag release-tag">Beta 0.2</span> Python Write To Monthly File Program Created</li>
                                    <li><span class="tag release-tag">Beta 0.3</span> Python Merge Cell On Monthly File & Style It Program Created</li>
                                    <li><span class="tag release-tag">Beta 0.4</span> Python Capture Image & Directory Files Program Created</li>
                                    <li><span class="tag release-tag">Beta 0.5</span> Python Directory Files Program Now Contains Weekly & Monthly Column Range, Unmerge File Program Created & Merge Cell Program Bug Fixed</li>
                                    <li><span class="tag release-tag">Beta 0.6</span> About Us Page Created, Capture Image Program Improved & Directory Files Contains Combined Range</li>
                                    <li><span class="tag release-tag">Beta 0.7</span> View File By Downloading</li>
                                    <li><span class="tag release-tag">Beta 0.8</span> Unmerge & Merge Cell Program Bug Fixed</li>
                                    <li><span class="tag release-tag">Beta 0.9</span> Some File Names Changes</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h1 class="card-header-title">
                            1.0
                        </h1>
                        <a href="#collapsible-card-release-one" data-action="collapse" class="card-header-icon is-hidden-fullscreen" aria-label="more options">
                            <span class="is-icon">
                                <i class="fas fa-angle-down fa-lg" aria-hidden="true"></i>
                            </span>
                        </a>
                    </div>
                    <div id="collapsible-card-release-one" class="is-collapsible">
                        <div class="card-content">
                            <div class="container">
                                <ul>
                                    <li><span class="tag release-tag">V.1.0.0</span> Website Release</li>
                                    <li><span class="tag release-tag">V.1.0.1</span> Python Check Validity Program</li>
                                    <li><span class="tag release-tag">V.1.0.2</span> Python Check Validity Program Visual Improved</li>
                                    <li><span class="tag release-tag">V.1.0.3</span> Code optimization, Python Month Merge & Unmerge Program Bug Fixed</li>
                                    <li><span class="tag release-tag">V.1.0.4</span> About Us Page Text Change</li>
                                    <li><span class="tag release-tag">V.1.0.5</span> About Us Page Text Change Again</li>
                                    <li><span class="tag release-tag">V.1.0.6</span> Report File Is Now Able To Be Seen Without Downloading</li>
                                    <li><span class="tag release-tag">V.1.0.7</span> Code In Report File Optimize</li>
                                    <li><span class="tag release-tag">V.1.0.8</span> Viewing Size In Report File Is Much Smaller</li>
                                    <li><span class="tag release-tag">V.1.0.9</span> Class Code Page Is Added</li>
                                    <li><span class="tag release-tag">V.1.1.0</span> Python Merge Program Bug Fixed</li>
                                    <li><span class="tag release-tag">V.1.1.1</span> Class Code Page Visual Improved</li>
                                    <li><span class="tag release-tag">V.1.1.2</span> Download Report File Feature Is Added</li>
                                    <li><span class="tag release-tag">V.1.1.3</span> Excel Logo Has Better Resolution</li>
                                    <li><span class="tag release-tag">V.1.1.4</span> Python Last Time Modified Program Created</li>
                                    <li><span class="tag release-tag">V.1.1.5</span> Python Program Optimization</li>
                                    <li><span class="tag release-tag">V.1.1.6</span> Git Command Automation Created</li>
                                    <li><span class="tag release-tag">V.1.1.7</span> Git Push Command Automation Added</li>
                                    <li><span class="tag release-tag">V.1.1.8</span> Git Command Optimize</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h1 class="card-header-title">
                            2.0
                        </h1>
                        <a href="#collapsible-card-release-two" data-action="collapse" class="card-header-icon is-hidden-fullscreen" aria-label="more options">
                            <span class="is-icon">
                                <i class="fas fa-angle-down fa-lg" aria-hidden="true"></i>
                            </span>
                        </a>
                    </div>
                    <div id="collapsible-card-release-two" class="is-collapsible">
                        <div class="card-content">
                            <div class="container">
                                <ul>
                                    <li><span class="tag release-tag">V.2.0.0</span> GUI Update</li>
                                    <li><span class="tag release-tag">V.2.0.1</span> Cursor Set To Default At Image Banner</li>
                                    <li><span class="tag release-tag">V.2.0.2</span> Image Banner Responsiveness Improved</li>
                                    <li><span class="tag release-tag">V.2.0.3</span> Combined Report Image Bug Fixed</li>
                                    <li><span class="tag release-tag">V.2.0.4</span> More Image Banner & Super Rare Banner Easter Egg (1 In 140 Chances)</li>
                                    <li><span class="tag release-tag">V.2.0.5</span> Some Image Banner On Other Page Not Showing Bug Fixed, Angle Up & Down Animation Created</li>
                                    <li><span class="tag release-tag">V.2.0.6</span> Optimize Code On Navigation Bar</li>
                                    <li><span class="tag release-tag">V.2.0.7</span> Bars Menu Created</li>
                                    <li><span class="tag release-tag">V.2.0.8</span> Changelog Page Created</li>
                                    <li><span class="tag release-tag">V.2.0.9</span> Changelog Page Content Text Justified</li>
                                    <li><span class="tag release-tag">V.2.1.0</span> Custom Scrollbar Created & Justified Text In Changelog Page Removed</li>
                                    <li><span class="tag release-tag">V.2.1.1</span> Bigger Font Size For Lower Screen Resolution & Improved The Responsiveness Of The Web</li>
                                    <li><span class="tag release-tag">V.2.1.2</span> About Us Page Is Now Changed To Contributor Page</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h1 class="card-header-title">
                            3.0
                        </h1>
                        <a href="#collapsible-card-release-three" data-action="collapse" class="card-header-icon is-hidden-fullscreen" aria-label="more options">
                            <span class="is-icon">
                                <i class="fas fa-angle-down fa-lg" aria-hidden="true"></i>
                            </span>
                        </a>
                    </div>
                    <div id="collapsible-card-release-three" class="is-collapsible">
                        <div class="card-content">
                            <div class="container">
                                <ul>
                                    <li><span class="tag release-tag">V.3.0.0</span> Compress Code Using JS & Optimized Some Code</li>
                                    <li><span class="tag release-tag">V.3.0.1</span> Fixed Combined Assignment Report Not Showing Bug</li>
                                    <li><span class="tag release-tag">V.3.0.2</span> Optimized Code For Writing Monthly Excel Files</li>
                                    <li><span class="tag release-tag">V.3.0.3</span> Optimized Code In Python Main Program</li>
                                    <li><span class="tag release-tag">V.3.0.4</span> Optimized Code In Contributor Page</li>
                                    <li><span class="tag release-tag">V.3.0.5</span> Optimized Code In Contributor Page Again</li>
                                    <li><span class="tag release-tag">V.3.0.6</span> Created Wanted List Python Program</li>
                                    <li><span class="tag release-tag">V.3.0.7</span> Created JSON Writer Python Program</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h1 class="card-header-title">
                            4.0
                        </h1>
                        <a href="#collapsible-card-release-four" data-action="collapse" class="card-header-icon is-hidden-fullscreen" aria-label="more options">
                            <span class="is-icon">
                                <i class="fas fa-angle-down fa-lg" aria-hidden="true"></i>
                            </span>
                        </a>
                    </div>
                    <div id="collapsible-card-release-four" class="is-collapsible">
                        <div class="card-content">
                            <div class="container">
                                <ul>
                                    <li><span class="tag release-tag">V.4.0.0</span> Reconstruct The Whole Web Using Node JS, Express JS, EJS, MongoDB & SCSS </li>
                                    <li><span class="tag release-tag">V.4.0.1</span> Navigation Bar Created </li>
                                    <li><span class="tag release-tag">V.4.0.2</span> Home Page Created </li>
                                    <li><span class="tag release-tag">V.4.0.3</span> Addded Responsiveness To Navigation Bar </li>
                                    <li><span class="tag release-tag">V.4.0.4</span> Addded Responsiveness To Home Page </li>
                                    <li><span class="tag release-tag">V.4.0.5</span> Ported Excel Folder & Python Program </li>
                                    <li><span class="tag release-tag">V.4.0.6</span> Class Code Page Is Created </li>
                                    <li><span class="tag release-tag">V.4.0.7</span> Addded Responsiveness To Class Code Page </li>
                                    <li><span class="tag release-tag">V.4.0.8</span> Changelog Page Is Created </li>
                                    <li><span class="tag release-tag">V.4.0.9</span> Addded Responsiveness To Changelog Page </li>
                                    <li><span class="tag release-tag">V.4.1.0</span> Operator System Is Created </li>
                                    <li><span class="tag release-tag">V.4.1.1</span> Styled Operator System </li>
                                    <li><span class="tag release-tag">V.4.1.2</span> Home Page Student Report Option </li>
                                    <li><span class="tag release-tag">V.4.1.3</span> Nav Bar XI-RPL Activates Menu Bar Bug Fixed </li>
                                    <li><span class="tag release-tag">V.4.1.4</span> Connected Database To MongoDB Atlas Using Mongoose </li>
                                    <li><span class="tag release-tag">V.4.1.5</span> Connect MongoDB Atlas With Heroku </li>
                                    <li><span class="tag release-tag">V.4.1.6</span> Added Overflow To Operator Page</li>
                                    <li><span class="tag release-tag">V.4.1.7</span> Fixed Assignment Deletion Bug </li>
                                    <li><span class="tag release-tag">V.4.1.8</span> Created Authentication System </li>
                                    <li><span class="tag release-tag">V.4.1.9</span> Connected Users Login Data To MongoDB Atlas</li>
                                    <li><span class="tag release-tag">V.4.2.0</span> Styled Login Page </li>
                                    <li><span class="tag release-tag">V.4.2.1</span> Added HTTP To Listen Log For Quick Access </li>
                                    <li><span class="tag release-tag">V.4.2.2</span> Fixed Assignment Collection Not Updating Bug </li>
                                    <li><span class="tag release-tag">V.4.2.3</span> Leaderboard Page Created </li>
                                    <li><span class="tag release-tag">V.4.2.4</span> Styled Leaderboard Page </li>
                                    <li><span class="tag release-tag">V.4.2.5</span> Contributor Page Created </li>
                                    <li><span class="tag release-tag">V.4.2.6</span> Styled Contributor Page </li>
                                    <li><span class="tag release-tag">V.4.2.7</span> Fixed Navigation Bar Menu Bug </li>
                                    <li><span class="tag release-tag">V.4.2.8</span> Created Statistics Page </li>
                                    <li><span class="tag release-tag">V.4.2.9</span> Styled Statistics Page </li>
                                    <li><span class="tag release-tag">V.4.3.0</span> Fixed List Of Assignment Data Not Accurate Bug </li>
                                    <li><span class="tag release-tag">V.4.3.1</span> Improved Data Update Speed </li>
                                    <li><span class="tag release-tag">V.4.3.2</span> Created Request Counter </li>
                                    <li><span class="tag release-tag">V.4.3.3</span> Fixed Login & Operator Pages Response To 404 </li>
                                    <li><span class="tag release-tag">V.4.3.4</span> Fixed Student Total Assignment Done String Bug </li>
                                    <li><span class="tag release-tag">V.4.3.5</span> Fixed Operator Histories Not Updated To The Database Bug </li>
                                    <li><span class="tag release-tag">V.4.3.6</span> Disabled Interactivity On Statisctics Page </li>
                                    <li><span class="tag release-tag">V.4.3.7</span> Fixed Bug When Creating A PAI Assignment  </li>
                                    <li><span class="tag release-tag">V.4.3.8</span> Sort Collections  </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/vendor/collapsible/collapsible.min.js"></script>
    <script>
        'use strict';

        function ready(handler) {
            if (/complete|loaded|interactive/.test(document.readyState) && document.body) {
                handler();
            } else {
                document.addEventListener('DOMContentLoaded', handler, false);
            }
        }

        var _clickEvents = ['click', 'touchstart'];

        ready(function () {
            bulmaCollapsible.attach();
        });
    </script>

</body>
</html>