<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head', { title: "Class Code" }); %>

</head>
<body>
    <div class="container">
        <%- include('./partials/navbar.ejs') %>

        <div class="section">
            <div class="box">
                <h1 class="title">
                    Login
                </h1>
            </div>

            <div class="login">
                <div class="card">
                    <div class="card-content">

                        <form action="/login" method="post" autocomplete="off">
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Username</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <p class="control">
                                            <input class="custom-input" type="text" name="username" placeholder="Username" required>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Password</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <p class="control">
                                            <input class="custom-input" type="password" name="password" placeholder="Password" required>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <button class="call-to-action call-to-action-primary" type="submit">
                                Submit
                            </button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>
</html>