.contributor_content_container {
  margin-top: calc(0.5vw + 7.5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contributor_content_container .contributor_content_item_container {
  min-width: 200px;
  width: calc(40vw + 20px);
}

.contributor_content_container .contributor_content_item_container .contributor_content_item {
  font-size: calc(1vw + 10px);
  margin-bottom: calc(0.5vw + 7.5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contributor_content_container .contributor_content_item_container .contributor_content_item .contributor_content_item_image {
  margin-bottom: calc(0.25vw + 2.5px);
}

.contributor_content_container .contributor_content_item_container .contributor_content_item .contributor_content_item_image img {
  width: calc(7vw + 80px);
  border: calc(0.15vw + 1px) solid white;
  border-radius: 50%;
}

.contributor_content_container .contributor_content_item_container .contributor_content_item .contributor_content_item_text {
  white-space: normal;
  text-align: justify;
  margin-bottom: calc(0.25vw + 2.5px);
}

.contributor_content_container .contributor_content_item_container .contributor_content_item .contributor_content_item_logo {
  margin-bottom: calc(1vw + 5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contributor_content_container .contributor_content_item_container .contributor_content_item .contributor_content_item_logo a {
  margin-left: calc(0.5vw + 5px);
  margin-right: calc(0.5vw + 5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contributor_content_container .contributor_content_item_container .contributor_content_item .contributor_content_item_logo a img {
  width: calc(1vw + 30px);
  cursor: pointer;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
}

.contributor_content_container .contributor_content_item_container .contributor_content_item .contributor_content_item_logo a img:hover {
  opacity: 0.5;
}
/*# sourceMappingURL=contributor.css.map */