.home_content_container {
  margin-top: calc(0.5vw + 7.5px);
  height: 91%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home_content_container .home_content_option_container {
  background-color: #282828;
  min-width: 200px;
  width: calc(80vw + 20px);
  margin-bottom: calc(0.5vw + 7.5px);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home_content_container .home_content_option_container .home_content_option_text {
  font-size: calc(1vw + 10px);
  white-space: nowrap;
  padding: calc(0.5vw + 10px) calc(0.5vw + 7.5px);
}

.home_content_container .home_content_option_container .home_content_option_box select {
  background-color: #1f1f1f;
  color: white;
  font-size: calc(1vw + 10px);
  white-space: nowrap;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: calc(0.25vw + 2.5px);
  cursor: pointer;
  border: 1px solid #282828;
  border-radius: 8px;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
}

.home_content_container .home_content_option_container .home_content_option_box select:focus {
  border: 1px solid #282828;
}

.home_content_container .home_content_option_container .home_content_option_box select:hover {
  opacity: 0.5;
}

.home_content_container .home_content_table_container {
  background-color: #1f1f1f;
  min-width: 200px;
  width: calc(80vw + 20px);
  min-height: 250px;
  height: 100%;
  margin-bottom: calc(0.5vw + 7.5px);
  overflow: auto;
  border-top: 4px solid #282828;
  border-left: 4px solid #282828;
  border-bottom: 4px solid #282828;
}

.home_content_container .home_content_table_container table {
  font-size: calc(0.5vw + 10px);
  white-space: nowrap;
  border-collapse: collapse;
}

.home_content_container .home_content_table_container table thead tr th {
  background-color: #1f1f1f;
  padding-left: calc(0.5vw + 5px);
  padding-right: calc(0.5vw + 5px);
  text-align: center;
  vertical-align: middle;
  border-bottom: 4px solid #282828;
  border-right: 4px solid #282828;
}

.home_content_container .home_content_table_container table tbody tr td {
  text-align: center;
  vertical-align: middle;
  padding: calc(0.5vw + 5px);
  border-top: 4px solid #282828;
  border-right: 4px solid #282828;
}

.home_content_container .home_content_table_container table tbody tr #td_text_align_left {
  text-align: left;
}

.home_content_container .home_content_table_container table tbody tr:nth-of-type(even) {
  background-color: #1f1f1f;
}

.home_content_container .home_content_table_container table tbody tr:nth-of-type(odd) {
  background-color: #181818;
}

.home_content_container .home_content_table_container table .home_content_table_disable {
  display: none;
}
/*# sourceMappingURL=home.css.map */