.operator_content_container {
  margin-top: calc(0.5vw + 7.5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.operator_content_container .operator_content_item_container {
  min-width: 200px;
  width: calc(80vw + 20px);
}

.operator_content_container .operator_content_item_container .operator_content_item {
  background-color: #282828;
  font-size: calc(1vw + 10px);
  white-space: nowrap;
  overflow: auto;
  margin-bottom: calc(0.5vw + 7.5px);
  padding: calc(0.5vw + 10px) calc(0.5vw + 7.5px);
  border-radius: 8px;
}

.operator_content_container .operator_content_item_container .operator_content_item .operator_content_option_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.operator_content_container .operator_content_item_container .operator_content_item .operator_content_option_box label {
  margin-bottom: calc(0.25vw + 2.5px);
}

.operator_content_container .operator_content_item_container .operator_content_item .operator_content_option_box select {
  background-color: #1f1f1f;
  color: white;
  font-size: calc(1vw + 10px);
  white-space: nowrap;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: calc(0.25vw + 2.5px);
  margin-bottom: calc(0.25vw + 2.5px);
  cursor: pointer;
  border: 1px solid #282828;
  border-radius: 8px;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
}

.operator_content_container .operator_content_item_container .operator_content_item .operator_content_option_box select:invalid {
  color: gray;
}

.operator_content_container .operator_content_item_container .operator_content_item .operator_content_option_box select:focus {
  border: 1px solid #282828;
}

.operator_content_container .operator_content_item_container .operator_content_item .operator_content_option_box select:hover {
  opacity: 0.5;
}

.operator_content_container .operator_content_item_container .operator_content_item .operator_content_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.operator_content_container .operator_content_item_container .operator_content_item .operator_content_input label {
  margin-bottom: calc(0.25vw + 2.5px);
}

.operator_content_container .operator_content_item_container .operator_content_item .operator_content_input input {
  background-color: #1f1f1f;
  color: white;
  font-size: calc(1vw + 10px);
  white-space: nowrap;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: calc(0.25vw + 2.5px);
  margin-bottom: calc(0.25vw + 2.5px);
  cursor: pointer;
  border: 1px solid #282828;
  border-radius: 8px;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
}

.operator_content_container .operator_content_item_container .operator_content_item .operator_content_input input:focus {
  border: 1px solid #282828;
}

.operator_content_container .operator_content_item_container .operator_content_item .operator_content_input input:hover {
  opacity: 0.5;
}

.operator_content_container .operator_content_item_container .operator_content_item button {
  background-color: #1f1f1f;
  color: white;
  font-size: calc(1vw + 10px);
  white-space: nowrap;
  padding: calc(0.5vw + 5px);
  cursor: pointer;
  border: 1px solid #282828;
  border-radius: 8px;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
}

.operator_content_container .operator_content_item_container .operator_content_item button:hover {
  opacity: 0.5;
}
/*# sourceMappingURL=operator.css.map */