@font-face {
  font-family: "Roboto";
  src: url(./../Font/Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: "Wingding";
  src: url(./../Font/wingding.ttf);
}

::-webkit-scrollbar {
  width: calc(0.3vw + 7px);
  height: calc(0.3vw + 7px);
}

::-webkit-scrollbar-thumb {
  background-color: #777272;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #575454;
}

::-webkit-scrollbar-track {
  background-color: #282828;
}

::-webkit-scrollbar-corner {
  background-color: #282828;
}

html {
  height: 98%;
}

body {
  background-color: #181818;
  font-family: "Roboto";
  color: white;
  white-space: nowrap;
  height: 100%;
  margin: 0;
  padding: 0;
  margin-top: calc(2vw + 30px);
}

body a {
  text-decoration: none;
  color: white;
  cursor: default;
}

body .nav_content_container {
  background-color: #282828;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding-top: calc(0.25vw + 2.5px);
  padding-bottom: calc(0.25vw + 2.5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .nav_content_container .nav_content_item {
  margin-left: calc(0.5vw + 5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .nav_content_container .nav_content_item .nav_content_item_bar {
  font-size: calc(1vw + 17px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
}

body .nav_content_container .nav_content_item .nav_content_item_bar:hover {
  opacity: 0.5;
}

body .nav_content_container .nav_content_item .nav_content_item_text {
  margin-left: calc(0.5vw + 5px);
  font-size: calc(1vw + 15px);
  cursor: pointer;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
}

body .nav_content_container .nav_content_item .nav_content_item_text:hover {
  opacity: 0.5;
}

body .nav_content_bars_menu_container {
  background-color: #282828;
  -webkit-box-shadow: 3px 0px 5px #181818;
          box-shadow: 3px 0px 5px #181818;
  width: calc(8vw + 150px);
  position: fixed;
  top: 0;
  left: -300px;
  bottom: 0;
  z-index: 101;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: left 450ms;
  transition: left 450ms;
}

body .nav_content_bars_menu_container .nav_content_bars_menu_item {
  padding: calc(0.5vw + 5px);
  margin-right: calc(0.5vw + 10px);
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 200ms, opacity 200ms;
  transition: background-color 200ms, opacity 200ms;
}

body .nav_content_bars_menu_container .nav_content_bars_menu_item:hover {
  background-color: #181818;
  opacity: 0.5;
}

body .nav_content_bars_menu_container .nav_content_bars_menu_item .nav_content_bars_menu_item_icon {
  width: calc(1vw + 25px);
  font-size: calc(1vw + 17px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .nav_content_bars_menu_container .nav_content_bars_menu_item .nav_content_bars_menu_item_text {
  font-size: calc(1vw + 15px);
  white-space: nowrap;
  margin-left: calc(0.5vw + 5px);
}

body .nav_content_bars_menu_invinsible_container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  display: none;
}

body .home_content_container {
  margin-top: calc(0.5vw + 7.5px);
  height: 91%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .home_content_container .home_content_option_container {
  background-color: #282828;
  min-width: 200px;
  width: calc(80vw + 20px);
  margin-bottom: calc(0.5vw + 7.5px);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 950px) {
  body .home_content_container .home_content_option_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

body .home_content_container .home_content_option_container .home_content_file_option_box_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .home_content_container .home_content_option_container .home_content_file_option_box_container .home_content_option_text {
  font-size: calc(1vw + 10px);
  white-space: nowrap;
  padding: calc(0.5vw + 10px) calc(0.5vw + 7.5px);
}

body .home_content_container .home_content_option_container .home_content_file_option_box_container .home_content_option_box select {
  background-color: #1f1f1f;
  color: white;
  font-size: calc(1vw + 10px);
  white-space: nowrap;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: calc(0.25vw + 2.5px);
  cursor: pointer;
  border: 1px solid #282828;
  border-radius: 8px;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
}

body .home_content_container .home_content_option_container .home_content_file_option_box_container .home_content_option_box select:focus {
  border: 1px solid #282828;
}

body .home_content_container .home_content_option_container .home_content_file_option_box_container .home_content_option_box select:hover {
  opacity: 0.5;
}

body .home_content_container .home_content_table_container {
  background-color: #1f1f1f;
  min-width: 200px;
  width: calc(80vw + 20px);
  min-height: 250px;
  height: 100%;
  margin-bottom: calc(0.5vw + 7.5px);
  overflow: auto;
  border-top: 4px solid #282828;
  border-left: 4px solid #282828;
  border-bottom: 4px solid #282828;
}

body .home_content_container .home_content_table_container table {
  font-size: calc(0.5vw + 10px);
  white-space: nowrap;
  border-collapse: collapse;
}

body .home_content_container .home_content_table_container table thead tr th {
  background-color: #1f1f1f;
  padding-left: calc(0.5vw + 5px);
  padding-right: calc(0.5vw + 5px);
  text-align: center;
  vertical-align: middle;
  border-bottom: 4px solid #282828;
  border-right: 4px solid #282828;
}

body .home_content_container .home_content_table_container table tbody tr td {
  text-align: center;
  vertical-align: middle;
  padding: calc(0.5vw + 5px);
  border-top: 4px solid #282828;
  border-bottom: 4px solid #282828;
  border-right: 4px solid #282828;
}

body .home_content_container .home_content_table_container table tbody tr #td_text_align_left {
  text-align: left;
}

body .home_content_container .home_content_table_container table tbody tr:nth-of-type(even) {
  background-color: #1f1f1f;
}

body .home_content_container .home_content_table_container table tbody tr:nth-of-type(odd) {
  background-color: #181818;
}

body .home_content_container .home_content_table_container table .home_content_table_disable {
  display: none;
}

body .home_content_container .home_content_table_container table .home_content_student_report_disable {
  display: none;
}

body .classcode_content_container {
  margin-top: calc(0.5vw + 7.5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .classcode_content_container .classcode_content_item_container {
  min-width: 200px;
  width: calc(80vw + 20px);
}

body .classcode_content_container .classcode_content_item_container .classcode_content_item {
  background-color: #282828;
  font-size: calc(1vw + 10px);
  white-space: nowrap;
  margin-bottom: calc(0.5vw + 7.5px);
  padding: calc(0.5vw + 10px) calc(0.5vw + 7.5px);
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
}

body .classcode_content_container .classcode_content_item_container .classcode_content_item:hover {
  opacity: 0.5;
}

body .classcode_content_container .classcode_content_item_container .classcode_content_item .classcode_content_icon_text {
  font-size: calc(1vw + 12px);
}

body .classcode_content_container .classcode_content_item_container .classcode_content_list {
  margin-left: calc(1vw + 25px);
}

body .classcode_content_container .classcode_content_item_container .classcode_content_list .classcode_content_list_item {
  background-color: #282828;
  font-size: calc(1vw + 10px);
  white-space: nowrap;
  overflow: auto;
  margin-bottom: calc(0.5vw + 7.5px);
  padding: calc(0.5vw + 10px) calc(0.5vw + 7.5px);
  border-radius: 8px;
}

body .classcode_content_container .classcode_content_item_container .classcode_content_list .classcode_content_list_item a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

body .classcode_content_container .classcode_content_item_container #classcode_content_list_google_classroom {
  display: none;
}

body .classcode_content_container .classcode_content_item_container #classcode_content_icon_google_classroom {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 600ms;
  transition: -webkit-transform 600ms;
  transition: transform 600ms;
  transition: transform 600ms, -webkit-transform 600ms;
}

body .classcode_content_container .classcode_content_item_container #classcode_content_list_schoology {
  display: none;
}

body .classcode_content_container .classcode_content_item_container #classcode_content_icon_schoology {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 600ms;
  transition: -webkit-transform 600ms;
  transition: transform 600ms;
  transition: transform 600ms, -webkit-transform 600ms;
}

body .changelog_content_container {
  margin-top: calc(0.5vw + 7.5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .changelog_content_container .changelog_content_item_container {
  min-width: 200px;
  width: calc(80vw + 20px);
}

body .changelog_content_container .changelog_content_item_container .changelog_content_item {
  background-color: #282828;
  font-size: calc(1vw + 10px);
  white-space: nowrap;
  margin-bottom: calc(0.5vw + 7.5px);
  padding: calc(0.5vw + 10px) calc(0.5vw + 7.5px);
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
}

body .changelog_content_container .changelog_content_item_container .changelog_content_item:hover {
  opacity: 0.5;
}

body .changelog_content_container .changelog_content_item_container .changelog_content_item .changelog_content_icon_text {
  font-size: calc(1vw + 12px);
}

body .changelog_content_container .changelog_content_item_container .changelog_content_list {
  margin-left: calc(1vw + 25px);
}

body .changelog_content_container .changelog_content_item_container .changelog_content_list .changelog_content_list_item {
  background-color: #282828;
  font-size: calc(1vw + 10px);
  white-space: nowrap;
  overflow: auto;
  margin-bottom: calc(0.5vw + 7.5px);
  padding: calc(0.5vw + 10px) calc(0.5vw + 7.5px);
  border-radius: 8px;
}

body .changelog_content_container .changelog_content_item_container .changelog_content_list .changelog_content_list_item a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

body .changelog_content_container .changelog_content_item_container #changelog_content_list_version_beta {
  display: none;
}

body .changelog_content_container .changelog_content_item_container #changelog_content_icon_version_beta {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 600ms;
  transition: -webkit-transform 600ms;
  transition: transform 600ms;
  transition: transform 600ms, -webkit-transform 600ms;
}

body .changelog_content_container .changelog_content_item_container #changelog_content_list_version_1 {
  display: none;
}

body .changelog_content_container .changelog_content_item_container #changelog_content_icon_version_1 {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 600ms;
  transition: -webkit-transform 600ms;
  transition: transform 600ms;
  transition: transform 600ms, -webkit-transform 600ms;
}

body .changelog_content_container .changelog_content_item_container #changelog_content_list_version_2 {
  display: none;
}

body .changelog_content_container .changelog_content_item_container #changelog_content_icon_version_2 {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 600ms;
  transition: -webkit-transform 600ms;
  transition: transform 600ms;
  transition: transform 600ms, -webkit-transform 600ms;
}

body .changelog_content_container .changelog_content_item_container #changelog_content_list_version_3 {
  display: none;
}

body .changelog_content_container .changelog_content_item_container #changelog_content_icon_version_3 {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 600ms;
  transition: -webkit-transform 600ms;
  transition: transform 600ms;
  transition: transform 600ms, -webkit-transform 600ms;
}

body .changelog_content_container .changelog_content_item_container #changelog_content_list_version_4 {
  display: none;
}

body .changelog_content_container .changelog_content_item_container #changelog_content_icon_version_4 {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 600ms;
  transition: -webkit-transform 600ms;
  transition: transform 600ms;
  transition: transform 600ms, -webkit-transform 600ms;
}

body .operator_content_container {
  margin-top: calc(0.5vw + 7.5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .operator_content_container .operator_content_item_container {
  min-width: 200px;
  width: calc(80vw + 20px);
}

body .operator_content_container .operator_content_item_container .operator_content_item {
  background-color: #282828;
  font-size: calc(1vw + 10px);
  white-space: nowrap;
  overflow: auto;
  margin-bottom: calc(0.5vw + 7.5px);
  padding: calc(0.5vw + 10px) calc(0.5vw + 7.5px);
  border-radius: 8px;
}

body .operator_content_container .operator_content_item_container .operator_content_item .operator_content_option_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .operator_content_container .operator_content_item_container .operator_content_item .operator_content_option_box label {
  margin-bottom: calc(0.25vw + 2.5px);
}

body .operator_content_container .operator_content_item_container .operator_content_item .operator_content_option_box select {
  background-color: #1f1f1f;
  color: white;
  font-size: calc(1vw + 10px);
  white-space: nowrap;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: calc(0.25vw + 2.5px);
  margin-bottom: calc(0.25vw + 2.5px);
  cursor: pointer;
  border: 1px solid #282828;
  border-radius: 8px;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
}

body .operator_content_container .operator_content_item_container .operator_content_item .operator_content_option_box select:invalid {
  color: gray;
}

body .operator_content_container .operator_content_item_container .operator_content_item .operator_content_option_box select:focus {
  border: 1px solid #282828;
}

body .operator_content_container .operator_content_item_container .operator_content_item .operator_content_option_box select:hover {
  opacity: 0.5;
}

body .operator_content_container .operator_content_item_container .operator_content_item .operator_content_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .operator_content_container .operator_content_item_container .operator_content_item .operator_content_input label {
  margin-bottom: calc(0.25vw + 2.5px);
}

body .operator_content_container .operator_content_item_container .operator_content_item .operator_content_input input {
  background-color: #1f1f1f;
  color: white;
  font-size: calc(1vw + 10px);
  white-space: nowrap;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: calc(0.25vw + 2.5px);
  margin-bottom: calc(0.25vw + 2.5px);
  cursor: pointer;
  border: 1px solid #282828;
  border-radius: 8px;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
}

body .operator_content_container .operator_content_item_container .operator_content_item .operator_content_input input:focus {
  border: 1px solid #282828;
}

body .operator_content_container .operator_content_item_container .operator_content_item .operator_content_input input:hover {
  opacity: 0.5;
}

body .operator_content_container .operator_content_item_container .operator_content_item button {
  background-color: #1f1f1f;
  color: white;
  font-size: calc(1vw + 10px);
  white-space: nowrap;
  padding: calc(0.5vw + 5px);
  cursor: pointer;
  border: 1px solid #282828;
  border-radius: 8px;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
}

body .operator_content_container .operator_content_item_container .operator_content_item button:hover {
  opacity: 0.5;
}

body .leaderboard_content_container {
  margin-top: calc(0.5vw + 7.5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .leaderboard_content_container .leaderboard_content_item_container {
  min-width: 200px;
  width: calc(80vw + 20px);
}

body .leaderboard_content_container .leaderboard_content_item_container .leaderboard_content_item {
  background-color: #282828;
  font-size: calc(1vw + 10px);
  white-space: nowrap;
  overflow-y: hidden;
  margin-bottom: calc(0.5vw + 7.5px);
  border-radius: 8px;
  border-top: 8px solid #282828;
  border-left: 8px solid #282828;
  border-right: 8px solid #282828;
}

body .contributor_content_container {
  margin-top: calc(0.5vw + 7.5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .contributor_content_container .contributor_content_item_container {
  min-width: 200px;
  width: calc(40vw + 20px);
}

body .contributor_content_container .contributor_content_item_container .contributor_content_item {
  font-size: calc(1vw + 10px);
  margin-bottom: calc(0.5vw + 7.5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .contributor_content_container .contributor_content_item_container .contributor_content_item .contributor_content_item_image {
  margin-bottom: calc(0.25vw + 2.5px);
}

body .contributor_content_container .contributor_content_item_container .contributor_content_item .contributor_content_item_image img {
  width: calc(7vw + 80px);
  border: calc(0.15vw + 1px) solid white;
  border-radius: 50%;
}

body .contributor_content_container .contributor_content_item_container .contributor_content_item .contributor_content_item_text {
  white-space: normal;
  text-align: justify;
  margin-bottom: calc(0.25vw + 2.5px);
}

body .contributor_content_container .contributor_content_item_container .contributor_content_item .contributor_content_item_logo {
  margin-bottom: calc(1vw + 5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .contributor_content_container .contributor_content_item_container .contributor_content_item .contributor_content_item_logo a {
  margin-left: calc(0.5vw + 5px);
  margin-right: calc(0.5vw + 5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .contributor_content_container .contributor_content_item_container .contributor_content_item .contributor_content_item_logo a img {
  width: calc(1vw + 30px);
  cursor: pointer;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
}

body .contributor_content_container .contributor_content_item_container .contributor_content_item .contributor_content_item_logo a img:hover {
  opacity: 0.5;
}

body .statistics_content_container {
  margin-top: calc(0.5vw + 7.5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .statistics_content_container .statistics_content_item_container {
  min-width: 200px;
  width: calc(80vw + 20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .statistics_content_container .statistics_content_item_container .statistics_content_item {
  margin-bottom: calc(0.5vw + 15px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .statistics_content_container .statistics_content_item_container .statistics_content_item .statistics_content_item_text {
  background-color: #282828;
  font-size: calc(1vw + 10px);
  text-align: center;
  white-space: nowrap;
  min-width: 250px;
  width: calc(30vw + 20px);
  margin-bottom: calc(0.5vw + 7.5px);
  padding: calc(0.5vw + 10px) calc(0.5vw + 7.5px);
  border-radius: 8px;
}
/*# sourceMappingURL=style.css.map */