@font-face {
    font-family: "Roboto";
    src: url(./Font/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: "Wingding";
    src: url(./Font/wingding.ttf);
}

::-webkit-scrollbar{
    width: calc(0.3vw + 7px);
    height: calc(0.3vw + 7px);
}

::-webkit-scrollbar-thumb{
    background-color: #777272;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #575454;
}

::-webkit-scrollbar-track{
    background-color: #282828;
}

::-webkit-scrollbar-corner{
    background-color: #282828;

}

body{
    background-color: #181818;
    font-family: "Roboto";
    color: white;

    margin: 0;
    padding: 0;

    a{
        text-decoration: none;
        color: white;
        cursor: default;
    }

    .nav_content_container{
        background-color: #282828;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
        .nav_content_item{
            margin-left: 10px;

            display: flex;
            flex-direction: row;
            align-items: center;

            .nav_content_item_bar{
                font-size: 32px;

                display: flex;
                justify-content: center;
                align-items: center;

                cursor: pointer;

                transition: opacity 200ms;;

                &:hover{
                    opacity: 0.5;
                }
            }

            .nav_content_item_text{
                margin-left: 10px;

                font-size: 30px;

                cursor: pointer;

                transition: opacity 200ms;;

                &:hover{
                    opacity: 0.5;
                }
            }   
        }

        .nav_content_profile{
            margin: 5px;
            margin-right: 10px;

            display: flex;
            justify-content: center;
            align-items: center;

            .nav_content_profile_text{
                font-size: 25px;
                margin-right: 10px;
            }

            img{
                width: 36px;
                height: 36px;

                border: 2px solid white;
                border-radius: 50%;
            }
        }
    }

    .nav_content_bars_menu_container{
        background-color: #282828;
        box-shadow: 3px 0px 5px #181818;

        width: 275px;

        position: fixed;
        top: 0;
        left: -300px;
        bottom: 0;
        z-index: 100;

        display: flex;
        flex-direction: column;

        transition: left 450ms;

        .nav_content_bars_menu_item{
            padding: 10px;
            padding-left: 10px;
            margin-right: 20px;

            border-top-right-radius: 12px;
            border-bottom-right-radius: 12px;

            cursor: pointer;

            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            transition: background-color 200ms, opacity 200ms;

            &:hover{
                background-color: #181818;
                opacity: 0.5;
            }

            .nav_content_bars_menu_item_icon{
                width: 38px;
                font-size: 32px;

                display: flex;
                justify-content: center;
                align-items: center;
            }

            .nav_content_bars_menu_item_text{
                font-size: 30px;
                white-space: nowrap;

                margin-left: 10px;
            }
        }
    }

    .nav_content_bars_menu_invinsible_container{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;

        display: none;
    }

    .home_content_container{
        margin-top: 15px;

        display: flex;
        flex-direction: column;
        align-items: center;

        .home_content_option_container{
            background-color: #282828;
            
            width: 1400px;
            
            margin-bottom: 15px;

            border-radius: 8px;

            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            .home_content_option_text{
                font-size: 20px;
                white-space: nowrap;

                padding: 20px 15px;
                
            }

            .home_content_option_box{
                select{
                    background-color: #1f1f1f;
                    color: white;
                    font-size: 20px;
                    white-space: nowrap;
                    appearance: none;

                    padding: 10px;

                    cursor: pointer;

                    border: 1px solid #282828;
                    border-radius: 8px;

                    transition: opacity 200ms;

                    &:focus{
                        border: 1px solid #282828;
                    }

                    &:hover{
                        opacity: 0.5;
                    }

                    option{
                        margin: 10px;
                    }
                }
            }
        }

        .home_content_table_container{
            background-color: #1f1f1f;

            width: 1400px;
            height: 550px;
            
            margin-bottom: 15px;

            overflow: auto;
            
            table{
                font-size: 20px;
                white-space: nowrap;
    
                border-collapse: collapse;
    
                thead{
                    tr{
                        th{
                            background-color: #1f1f1f;

                            padding-left: 10px;
                            padding-right: 10px;     
                            
                            text-align: center;
                            vertical-align:middle;

                            border: 4px solid #282828;
                        }
                    }
                }
        
                tbody{
                    tr{
                        td{
                            text-align: center;
                            vertical-align:middle;
        
                            padding: 10px;
                            padding-left: 10px;
                            padding-right: 10px;

                            border: 4px solid #282828;
                        }
        
                        #td_text_align_left{
                            text-align: left;
                        }
        
                        &:nth-of-type(even){
                            background-color: #1f1f1f;
                        }

                        &:nth-of-type(odd){
                            background-color: #181818;
                        }
                    }
                }

                .home_content_table_disable{
                    display: none;
                }
            }   
        }
    }
}

// *{
//     border: 1px solid yellow;
// }