@font-face {
  font-family: "Roboto";
  src: url(./Font/Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: "Wingding";
  src: url(./Font/wingding.ttf);
}

::-webkit-scrollbar {
  width: calc(0.3vw + 7px);
  height: calc(0.3vw + 7px);
}

::-webkit-scrollbar-thumb {
  background-color: #777272;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #575454;
}

::-webkit-scrollbar-track {
  background-color: #282828;
}

::-webkit-scrollbar-corner {
  background-color: #282828;
}

body {
  background-color: #181818;
  font-family: "Roboto";
  color: white;
  margin: 0;
  padding: 0;
}

body a {
  text-decoration: none;
  color: white;
  cursor: default;
}

body .nav_content_container {
  background-color: #282828;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .nav_content_container .nav_content_item {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .nav_content_container .nav_content_item .nav_content_item_bar {
  font-size: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
}

body .nav_content_container .nav_content_item .nav_content_item_bar:hover {
  opacity: 0.5;
}

body .nav_content_container .nav_content_item .nav_content_item_text {
  margin-left: 10px;
  font-size: 30px;
  cursor: pointer;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
}

body .nav_content_container .nav_content_item .nav_content_item_text:hover {
  opacity: 0.5;
}

body .nav_content_container .nav_content_profile {
  margin: 5px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .nav_content_container .nav_content_profile .nav_content_profile_text {
  font-size: 25px;
  margin-right: 10px;
}

body .nav_content_container .nav_content_profile img {
  width: 36px;
  height: 36px;
  border: 2px solid white;
  border-radius: 50%;
}

body .nav_content_bars_menu_container {
  background-color: #282828;
  -webkit-box-shadow: 3px 0px 5px #181818;
          box-shadow: 3px 0px 5px #181818;
  width: 275px;
  position: fixed;
  top: 0;
  left: -300px;
  bottom: 0;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: left 450ms;
  transition: left 450ms;
}

body .nav_content_bars_menu_container .nav_content_bars_menu_item {
  padding: 10px;
  padding-left: 10px;
  margin-right: 20px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 200ms, opacity 200ms;
  transition: background-color 200ms, opacity 200ms;
}

body .nav_content_bars_menu_container .nav_content_bars_menu_item:hover {
  background-color: #181818;
  opacity: 0.5;
}

body .nav_content_bars_menu_container .nav_content_bars_menu_item .nav_content_bars_menu_item_icon {
  width: 38px;
  font-size: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .nav_content_bars_menu_container .nav_content_bars_menu_item .nav_content_bars_menu_item_text {
  font-size: 30px;
  white-space: nowrap;
  margin-left: 10px;
}

body .nav_content_bars_menu_invinsible_container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  display: none;
}

body .home_content_container {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .home_content_container .home_content_option_container {
  background-color: #282828;
  width: 1400px;
  margin-bottom: 15px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .home_content_container .home_content_option_container .home_content_option_text {
  font-size: 20px;
  white-space: nowrap;
  padding: 20px 15px;
}

body .home_content_container .home_content_option_container .home_content_option_box select {
  background-color: #1f1f1f;
  color: white;
  font-size: 20px;
  white-space: nowrap;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 10px;
  cursor: pointer;
  border: 1px solid #282828;
  border-radius: 8px;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
}

body .home_content_container .home_content_option_container .home_content_option_box select:focus {
  border: 1px solid #282828;
}

body .home_content_container .home_content_option_container .home_content_option_box select:hover {
  opacity: 0.5;
}

body .home_content_container .home_content_option_container .home_content_option_box select option {
  margin: 10px;
}

body .home_content_container .home_content_table_container {
  background-color: #1f1f1f;
  width: 1400px;
  height: 550px;
  margin-bottom: 15px;
  overflow: auto;
}

body .home_content_container .home_content_table_container table {
  font-size: 20px;
  white-space: nowrap;
  border-collapse: collapse;
}

body .home_content_container .home_content_table_container table thead tr th {
  background-color: #1f1f1f;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  vertical-align: middle;
  border: 4px solid #282828;
}

body .home_content_container .home_content_table_container table tbody tr td {
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: 4px solid #282828;
}

body .home_content_container .home_content_table_container table tbody tr #td_text_align_left {
  text-align: left;
}

body .home_content_container .home_content_table_container table tbody tr:nth-of-type(even) {
  background-color: #1f1f1f;
}

body .home_content_container .home_content_table_container table tbody tr:nth-of-type(odd) {
  background-color: #181818;
}

body .home_content_container .home_content_table_container table .home_content_table_disable {
  display: none;
}
/*# sourceMappingURL=style.css.map */